<h1><%= ask = @q1.zh + " "+  @q1.remark.to_s.split("/")[1].to_s %>...</h1>
<div align="center">
  <div>
    <% @q2s.each do |q2| %>
    <div style="margin:20px 0;">
      <button type="button" class="btn custom_button" style="width:270px;" data-toggle="modal" data-target="#confirm_<%= q2.id %>">
        <%= q2.zh %>
      </button>
    </div>
    <div id="confirm_<%= q2.id %>" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">您的问题是这样吗?</h4>
          </div>
          <div class="modal-body">
            <p><%= q2.zh + ask %>?</p>
          </div>
          <div class="modal-footer">
            <%= link_to "<button type='button' class='btn btn-default'>重新选择</button>".html_safe, root_path(la: "zh") %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm_<%= q2.id %>_two">是的</button>
          </div>
        </div>

      </div>
    </div>
    <div id="confirm_<%= q2.id %>_two" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">消息:</h4>
          </div>
          <div class="modal-body">
            <p>请归还手机.</p>
          </div>
          <div class="modal-footer">
            <%= link_to "<button type='button' class='btn btn-primary'>確定</button>".html_safe,
                controller: :reply, action: :reply_index, q1_id: @q1.id, q2_id: q2.id, la: "zh" %> 
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <br><br>
  </div>
</div>
