<!-- 固定のhead bar -->
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
      <span class="sr-only">メニュー</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div id="gnavi" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <%= link_to "infomation", infomation_index_path %>
      <%= link_to "reply(test)", reply_index_path %>
    </ul>
  </div>
</nav>

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Sample</title>
  <!-- BootstrapのCSS読み込み -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- BootstrapのJS読み込み -->
  <script src="js/bootstrap.min.js"></script>
</head>
<body>

  <ul>
    <li>入力されたキーワード
      <p>
          <tr>
            <td><%= question_part_one.code %></td>
            <td><%= question_part_one.en %></td>
            <td><%= question_part_one.jp %></td>
            <td><%= question_part_one.zh %></td>
            <td><%= question_part_one.remark %></td>
            <td><%= question_part_one.q2_code %></td>
            <td><%= link_to 'Show', question_part_one %></td>
            <td><%= link_to 'Edit', edit_question_part_one_path(question_part_one) %></td>
            <td><%= link_to 'Destroy', question_part_one, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </p>

      <li>予想される翻訳
        <p>
        </p>

        <li>適した返答
          <p>
            <%= @answer %>
          </p>

          <li>ワンポイントアドバイス
          <p>
            （～系統）で乗って、（～方面）へ行き、（降りるべき駅）で降りてください。	<br>
            Take the (～系統) line going toward (～行き/～方面) and get off at (降りるべき駅).<br>
          </p>
          </ul>

          </html>
