<%= form_with(model: question_part_one, local: true) do |form| %>
  <% if question_part_one.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_part_one.errors.count, "error") %> prohibited this question_part_one from being saved:</h2>

      <ul>
      <% question_part_one.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :en %>
    <%= form.text_field :en, id: :question_part_one_en %>
  </div>

  <div class="field">
    <%= form.label :jp %>
    <%= form.text_field :jp, id: :question_part_one_jp %>
  </div>

  <div class="field">
    <%= form.label :zh %>
    <%= form.text_field :zh, id: :question_part_one_zh %>
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_field :remark, id: :question_part_one_remark %>
  </div>

  <div class="field">
    <%= form.label :q2_code %>
    <%= form.text_field :q2_code, id: :question_part_one_q2_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
