<p id="notice"><%= notice %></p>

<h1>Question Part Ones</h1>

<table>
  <thead>
    <tr>
      <th><%= QuestionPartOne.human_attribute_name(:en) %></th>
      <th><%= QuestionPartOne.human_attribute_name(:jp) %></th>
      <th><%= QuestionPartOne.human_attribute_name(:zh) %></th>
      <th><%= QuestionPartOne.human_attribute_name(:remark) %></th>
      <th><%= QuestionPartOne.human_attribute_name(:q2_code) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_part_ones.each do |question_part_one| %>
      <tr>
        <td><%= question_part_one.en %></td>
        <td><%= question_part_one.jp %></td>
        <td><%= question_part_one.zh %></td>
        <td><%= question_part_one.remark %></td>
        <td><%= question_part_one.q2_code %></td>
        <td><%= link_to 'Show', question_part_one %></td>
        <td><%= link_to 'Edit', edit_question_part_one_path(question_part_one) %></td>
        <td><%= link_to 'Destroy', question_part_one, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question Part One', new_question_part_one_path %>
<%= link_to '戻る', manage_path %>
