<h1>管理ページ</h1>
<%= link_to "質問文1", question_part_ones_path %>
<%= link_to "質問文2", question_part_twos_path %>
<%= link_to "返答文", answers_path %>
<%= link_to "ワンポイントアドバイス", advises_path %>
<%= link_to "単語", words_path %>
