<%= form_with(model: question_part_two, local: true) do |form| %>
  <% if question_part_two.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_part_two.errors.count, "error") %> prohibited this question_part_two from being saved:</h2>

      <ul>
      <% question_part_two.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :question_part_two_code %>
  </div>

  <div class="field">
    <%= form.label :en %>
    <%= form.text_field :en, id: :question_part_two_en %>
  </div>

  <div class="field">
    <%= form.label :jp %>
    <%= form.text_field :jp, id: :question_part_two_jp %>
  </div>

  <div class="field">
    <%= form.label :zh %>
    <%= form.text_field :zh, id: :question_part_two_zh %>
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_field :remark, id: :question_part_two_remark %>
  </div>

  <div class="field">
    <%= form.label :a_code %>
    <%= form.text_field :a_code, id: :question_part_two_a_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
