<p id="notice"><%= notice %></p>

<h1>Question Part Twos</h1>

<table>
  <thead>
    <tr>
      <th><%= QuestionPartTwo.human_attribute_name(:code) %></th>
      <th><%= QuestionPartTwo.human_attribute_name(:en) %></th>
      <th><%= QuestionPartTwo.human_attribute_name(:jp) %></th>
      <th><%= QuestionPartTwo.human_attribute_name(:zh) %></th>
      <th><%= QuestionPartTwo.human_attribute_name(:remark) %></th>
      <th><%= QuestionPartTwo.human_attribute_name(:a_code) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_part_twos.each do |question_part_two| %>
      <tr>
        <td><%= question_part_two.code %></td>
        <td><%= question_part_two.en %></td>
        <td><%= question_part_two.jp %></td>
        <td><%= question_part_two.zh %></td>
        <td><%= question_part_two.remark %></td>
        <td><%= question_part_two.a_code %></td>
        <td><%= link_to 'Show', question_part_two %></td>
        <td><%= link_to 'Edit', edit_question_part_two_path(question_part_two) %></td>
        <td><%= link_to 'Destroy', question_part_two, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question Part Two', new_question_part_two_path %>
<%= link_to '戻る', manage_path %>
