<!DOCTYPE html>
<html>
  <head>
    <title>Askme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header custom_header">
        <div class="navbar-toggle" style="padding:5px;float:left;margin-left:15px !important">
          <%= link_to "<i class='fa fa-home fa-2x' aria-hidden='true'></i>".html_safe, root_path, style:"color:#1e50a2;" %>
        </div>
        <div type="button" class="navbar-toggle" style="padding:5px 15px !important">
          <%= link_to "<i class='fa fa-info fa-2x' aria-hidden='true'></i>".html_safe, infomation_index_path,style: "color:#1e50a2" %>
        </div>
      </div>
    </nav>
    <div class="container custom_content">
      <%= yield %>
    </div>
  </body>
</html>
